[submodule "mojentic-ex"]
	path = mojentic-ex
	url = git@github.com:svetzal/mojentic-ex.git
[submodule "mojentic-py"]
	path = mojentic-py
	url = git@github.com:svetzal/mojentic.git
[submodule "mojentic-ru"]
	path = mojentic-ru
	url = git@github.com:svetzal/mojentic-ru.git
[submodule "mojentic-ts"]
	path = mojentic-ts
	url = git@github.com:svetzal/mojentic-ts.git
[submodule "mojentic-sw"]
	path = mojentic-sw
	url = git@github.com:svetzal/mojentic-sw.git
[submodule "mojentic-kt"]
	path = mojentic-kt
	url = git@github.com:svetzal/mojentic-kt.git
